
.icon {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects-block {
    padding: 150px;
}

.contact-block {
    padding: 150px;
}

.about-block {
    padding: 150px;
}

.home-block {
    padding: 150px;
}

#AboutMe {
  background-image: url("../background.jpg");
  /* position:fixed; */
}

.name {
  font-family: 'Liu Jian Mao Cao', cursive;
  color:#B76E79;
  font-size: 125px;
}

#Home{
  font-family: 'Patrick Hand', cursive;
  color:#B76E79;
}
section {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-nav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0);
    overflow-x: hidden;
    padding-top: 20px;
}

.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

p {
    float: right;
    font-size: 160%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 2%;
}

/* project grid */
.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 180px 200px;
    grid-gap: 10px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 190px;
  }
  
  .grid-container > div {
    background-color: rgba(0, 0, 0,0);
    text-align: center;
    padding: 20px;
  }

 .gap {
   padding-top: 10px;
   padding-bottom: 100px;
 } 
  .graphoutline {
    border: 1px solid red;
  }

  .content {
    border:1px solid blue;
    padding: 10px;
  }